body {
    background-color: #ffffff;
}

.Sidebar {
    width: 345px;
    height: 100vh;
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.Sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 1px;
    height: 100vh;
    background-color: #CFCFCF;
}

.Sidebar button {
    width: 345px;
    height: 64px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #4E4E4E; 
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CFCFCF;
    font-family: 'Roboto Mono', monospace;
}

.Sidebar button:hover {
    background-color: #E4ECF0;
    color: #4E4E4E; 
}

.Sidebar button.active {
    background-color: #C2D9E5;
    color: #4E4E4E; 
}